<% provide(:title, "Create new post") %>
<h1>Edit Entry <%= @entry.title %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@entry) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :body %>
      <%= f.text_area :body, style: "height: 300px" %>
      
      <%= f.submit "Edit entry", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>