<div class="row">
	<div class="span6 offset3">
		<h1><%= @entry.title %></h1>
		<section>
			<%= wrap(@entry.body) %>
		</section>
		<section>
			<h2>comments</h2>

			<%= 
				if signed_in? 
					if @entry.user.followers.include?(current_user)
						render "shared/comment_form"
					else
						render partial: 'shared/follow_link', locals: {:@user => @entry.user}
					end
				end
			%>

			<ol id="comment">
				<%= render partial: "shared/comment", collection: @comments %>
			</ol>
			<%= will_paginate @comments %>			
		</section>
	</div>	
</div>