<%= form_for(current_user.comments.build(entry: @entry), remote: true) do |f| %>
	
	<div><%= f.hidden_field :entry_id %></div>
	<div class="row">
		<div class="span1"><%= link_to gravatar_for(current_user), current_user %></div>
		<div class="span4"><%= f.text_area :content %></div>
	</div>	
	<%= f.submit "comment", class: "btn btn-primary" %>
<% end %>