<li id="<%= entry.id %>">
  <%= link_to gravatar_for(entry.user), entry.user, alt: entry.user.name %>
    <span class="user">
      <%= link_to entry.title, entry, :"data-no-turbolink" => true %>
    </span>
    <span class="content"><%= wrap(entry.body.slice(0,300)<<'...') %></span>
    <br/>
    <span class="timestamp">
      Posted <%= time_ago_in_words(entry.created_at) %> ago at <%= entry.created_at.strftime('%Y-%m-%d') %>
    </span>
  
  <%= render "shared/delete_link", object: entry %>
  <% if current_user?(entry.user)  %>
  | <%= link_to " edit", edit_entry_path(entry) %>
  <% end %>
</li>
